.page-title-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.page-title-element .pte-title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color:#647374;;
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: normal;
}

.page-title-element .pte-help-btn {
    margin: 0 20px 0 auto;
    flex-shrink: 0;
}
