h1.PageTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color:black;
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: normal;
}

.PageTitleUnderline {
    color: black;
    background-color: black;
    height: .5;
    margin-left: 20;
    width: 60;
}