
.page-title-element .PageTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color:black;
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: normal;
}