.privacy-statement-view h2 {
    margin: 30px 0 20px;
} 

.privacy-statement-view h3 {
    margin: 20px 0 10px;
}

.privacy-statement-view h4 {
    margin: 10px 0 5px;
}

.privacy-statement-view p {
    margin-top: 0;
}

.privacy-statement-view a {
    text-decoration: underline;
}