.survey-results {
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}

.survey-results .so-page-title {
    margin-bottom: 40px;
}

.survey-results .results-element {
    margin: 30px 20px;
}