footer {
    position: relative;
    margin-top: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: gray;
    background-color: rgb(240, 240, 240);
}

footer a {
    font-size: small;
    color: gray;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    color: rgb(170, 170, 170);
    transition: .3s;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-menu .menu-item {
    width: 100%;
    padding: 10px 0;
}

.footer-menu .divider-point {
    display: none;
    margin: 0 10px;
}

.copyright-statement {
    margin: 0;
    margin-top: 10px;
}



@media(min-width: 600px) {
    .footer-menu .menu-item {
        width: calc(1/3 * 100% - 20px);
    }
}


@media(min-width: 900px) {
    .footer-menu {
        flex-wrap: nowrap;
    }

    .footer-menu .menu-item {
        width: fit-content;
        padding: 0 20px;
    }

    .footer-menu .divider-point {
        display: inline;
    }
}