.why-participate {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    color: #647374;
}

.why-participate > div {
    flex: 1 1 100%;
}

.why-participate > div:first-of-type > p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    text-align: left;
}


.wpv-card-element {
    text-align: center;
    font-size: 20px;
}



@media(min-width: 900px) {
    .why-participate > div {
      flex: 1 1 50%;
    }
}