
.trash-btn {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.trash-btn:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

.trash-btn:active {
    background-color: rgba(205, 205, 205, 0.5);
}