.signup-body .su-card {
    max-width: 600px;
    margin-bottom: 60px;
}

.su-card h1 {
    font-size: 1.7em;
}

.signup-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signup-body form {
    display: flex;
    flex-direction: column;
}

.signup-body form label {
    margin: 30px 0 10px;
}

.signup-body form > label:first-of-type {
    margin-top: 20px;
}

.signup-body form input {
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #647374;
    text-align: center;
}

.signup-body .tac-statement {
    margin: 30px 0 10px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-body .tac-statement label {
    margin: 0;
}

.signup-body button {
    margin: 20px auto 0;
}