
.error-page {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page .ep-options {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.error-page .button {
    margin: 10px;
    font-size: medium;
}