
.error-page {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page h2 {
    margin: 10% 20px;
    text-align: center;
}

.error-page .ep-options {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}