
.get-help-view {
    width: 100%;
}

.get-help-view .faqs .faq-section {
    padding-top: 30px;
}

.get-help-view .faqs .faq-section:first-child {
    padding-top: 0;
}

.faqs {
    margin: 20px;
    padding-bottom: 40px;
}

.faqs :hover {
    transition: .3s;
    color: #BBD9DB;
}

.faqs :active {
    transition: .3s;
    color: #BBD9DB;
}

a.FAQ_Link{ 
    text-decoration: none; 
    color: #82a0aa;
    font-weight: bold;
    
}

