
.docs-view {
    width: 100%;
}

.docs-view .dv-section-container .doc-section {
    padding-top: 30px;
}


.docs-view .dv-section-container .doc-section:first-child {
    padding-top: 0;
}

.docs-view .dv-section-container .doc-section .row-content-text {
    margin: 10px 0 20px;
}

.dv-section-container {
    margin: 20px;
    padding-bottom: 40px;
}

.dv-section-container :hover {
    transition: .3s;
    color: #BBD9DB;
}

.dv-section-container :active {
    transition: .3s;
    color: #BBD9DB;
}

a.FAQ_Link{ 
    text-decoration: none; 
    color: #82a0aa;
    font-weight: bold;
    
}

