
.docs-view {
    width: 100%;
}

.docs-view .doc-section {
    padding-top: 30px;
}


.docs-view .doc-section:first-child {
    padding-top: 0;
}

.docs-view .doc-section .row-content-text {
    margin: 10px 0 30px;
}

.docs-view .doc-section .row-title {
    font-weight: bold;
}

a.FAQ_Link{ 
    text-decoration: none; 
    color: #82a0aa;
    font-weight: bold;
    transition: .3s;
}

a.FAQ_Link:hover {
    transition: .3s;
    color: #9bc1cf;    
}

