.scroll {
    overflow: hidden;
    overflow-y: scroll;
}

.select-survey-component .cards {
    font-size: 20px;
    background-color: #F5F5F5;
    text-align: center;
    cursor: pointer;
}

.select-survey-component .cards-hover :hover {
    transition: .3s;
    background-color: white;
    color: #BBD9DB;
}

.select-survey-component .cards-hover :active {
    transition: .3s;
    background-color: rgb(255, 255, 255);
}
