.cards {
    font-size: 20px;
    background-color: #EFF0F0;
    text-align: center;
}

.cards-hover :hover {
    background-color: rgb(255, 255, 255);
    color: #87E8BA
}

.cards-hover :active {
    background-color: rgb(255, 255, 255);
}
