
.survey-structure-body {
    display: flex;
    flex-direction: column;
}


.survey-structure-body label {
    margin: 30px 0 0 10px ;
}


.survey-structure-body small {
    margin: 0 0 0 10px;
}


.survey-structure-body input {
    margin: 10px 0;
}

.survey-structure-body .s-name-input {
    font-size: x-large;
    font-weight: bold;
}

.survey-structure-body .s-question-input {
    font-size: large;
    font-weight: bold;
}

.survey-structure-component .loading {
    text-align: center;
}