.implement-survey-component p {
    margin-top: 0;
}


.implement-survey-component p a {
    transition: .3s;
    text-decoration: underline;
}

.implement-survey-component p a:hover {
    transition: .3s;
    color: white;
}


.implement-survey-component .sc-gsTCUz {
    margin: 20px 0;
}
