.results-element {
    max-width: 100%;
    overflow: hidden;
}

.re-header {
    margin-bottom: 20px;
}

.re-header-first-line {
    display: flex;
    flex-wrap: wrap;
}

.results-element h2, .results-element h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.re-total-votes {
    margin-left: auto;
}

.results-element p {
    margin: 5px 0;
}

.results-element > .results-group {
    margin-top: 30px;
}

.results-element > .results-group > p {
    text-align: center;
}