.results-element {
    max-width: 100%;
    overflow: hidden;
}

.re-header {
    margin-bottom: 20px;
}

.re-header-first-line {
    display: flex;
    flex-wrap: wrap;
}

.results-element h2, .results-element h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.re-total-votes {
    margin-left: auto;
}

.results-element p {
    margin: 5px 0;
}

.results-element > .results-group {
    margin-top: 30px;
}

.results-element > .results-group > p {
    text-align: center;
}


.results-group > div:first-of-type {
    display: flex;
    align-items: center;
}


.results-element .btn-group {
    margin-left: auto;
    width: fit-content;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

.results-element .btn-group > button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid white;
}

.results-element .btn-group > button:last-of-type {
    border-right: none;
}

.results-element .btn-group > button.selected {
    transition: .3s;
    background-color: #a1c1c2;
}