.logoutBox {
  font-size: 16px;
  background: white;
  color: #BBD9DB;
  justify-content: center;
  width: 80%;
}

.logout {
  display: block;
  width: 100%;
}

.logo img {
  margin: 20px;
  object-fit: contain;
  height: 100px;
}

.logout .bye {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
}

.logout .message {
  font-size: 18px;
}

