.logoutBox {
  font-size: 25px;
  background: white;
  color: #BBD9DB;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.logoutBox div {
  font-weight: bold;
  margin-top: 15px;
}

.logout-body{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.logout {
  display: block;
  width: 100%;
}

.logo img {
  margin: 20px;
  object-fit: contain;
  height: 100px;
}

.logout .bye {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}



