.login-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.login-view .login-card {
    max-width: 600px;
    min-width: 35%;
    margin-bottom: 60px;
}


.login-view .login-card h1 {
    font-size: 1.7em;
}



.login-view .login-card form {
    display: flex;
    flex-direction: column;

}

.login-view label {
    margin: 30px 0 5px;
}

.login-view label:first-of-type {
    margin-top: 20px;
}

.login-view input {
    margin-bottom: 5px;
    width: 70%;
    padding: 10px 20px;
    border: 1px solid #647374;
    text-align: center;
}

.login-view button {
    margin: 20px auto 0;
}