
.re-header {
    margin-bottom: 20px;
}

.re-header-first-line {
    display: flex;
    flex-wrap: wrap;
}

.results-element h3, .results-element h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.re-total-votes {
    margin-left: auto;
}

.results-element p {
    margin: 10px 0;
}