.demo-element {
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #EFF0F0;
}


.demo-element .de-ce {
    max-width: 100%;
    height: 200px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
}


.demo-element .de-ce .ce-separator {
    border-left: 1px solid black;
    width: 0;
    margin: 0 10px;
}

.demo-element .de-ce span {
    text-align: left;
    margin-top: auto;
    width: 33%;
}

.demo-element .de-ce img {
    max-width: 66%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}