.doughnut-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
} 

.doughnut-chart .legend {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.doughnut-chart .legend-item {
    margin: 10px;
    flex: 1 1 100%;
    display: flex;
}

.doughnut-chart .li-colorbox {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}



@media(min-width: 600px) {
    .doughnut-chart .legend-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media(min-width: 900px) {
    .doughnut-chart .legend-item {
        flex: 1 1 calc(1/3 * 100% - 20px);
    }
}