.lv-card {
  width: 50%;
  text-align: center;
}

.logoutBox div {
  font-weight: bold;
  margin-top: 15px;
}

.lv-body {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.lv-card {
  margin: 0 auto;
}

.lv-card img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100px;
}
