
.edit-survey-component-body {
    display: flex;
    flex-direction: column;
}


.edit-survey-component-body label {
    margin-left: 10px ;
}


.edit-survey-component-body small {
    margin: 0 0 0 10px;
}


.edit-survey-component-body input {
    margin: 10px 0;
    background-color: white;
}

.survey-element {
    margin: 30px 0;
}

.edit-survey-component-body .s-name-input {
    font-size: x-large;
    font-weight: bold;
    color: #777;
}

.edit-survey-component-body .s-question-input {
    font-size: large;
    font-weight: bold;
    color: #777;
}

.survey-structure-component .loading {
    text-align: center;
}