
.edit-survey-component-body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.edit-survey-component-body label {
    margin-left: 10px ;
}


.edit-survey-component-body small {
    margin: 0 0 0 10px;
    font-size: 15px;
    color: #647374;
    text-decoration: italic;
}


.edit-survey-component-body input {
    margin: 10px 0;
    background-color: white;
}

.survey-element {
    margin: 30px 0;
}

.edit-survey-component-body .s-name-input {
    font-size: 18px;
    color: #647374;
}

.edit-survey-component-body .s-question-input {
    font-size: 18px;
    color: #647374;
}

.survey-structure-component .loading {
    text-align: center;
}