.edit-survey-component {
    display: flex;
    flex-direction: column;
}


.edit-survey-component label, .edit-survey-component small {
    margin-left: 5px;
}

.edit-survey-component input {
    margin: 10px 0;
}

.survey-element {
    margin-top: 30px;
}

.edit-survey-component .s-name-input {
    font-size: 1.1em;
}