
.docs-view {
    width: 100%;
}

.docs-view .doc-section {
    width: 100%;
    padding-top: 30px;
}


.docs-view .doc-section:first-child {
    padding-top: 0;
}

.docs-view .doc-section .row-content-text {
    margin: 10px 0 30px;
}

.docs-view .doc-section .row-title {
    font-weight: bold;
}

.docs-view a { 
    text-decoration: none; 
    color: #82a0aa;
    font-weight: bold;
    transition: .3s;
}

.docs-view a:hover {
    transition: .3s;
    color: #9bc1cf;    
}

.docs-view ol > li, .docs-view ul > li {
    padding-bottom: 10px;
}

.docs-view .yt-video-container {
    margin: 20px auto;
    max-width: 700px;
    max-height: 393px;
}