.xchoice-block {
    margin-top: 30px;
}


.xcb-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.xcb-header button {
    margin-left: auto;
}

.xcb-header svg {
    margin-left: 5px;
}



.xcb-element-type-selection {
    overflow: hidden;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1px 1px lightgray;
    border-radius: 10px;
    background-color: white;
}

.xcb-element-type-selection.show {
    display: flex;
}


.xcb-element-type-selection button {
    width: 100%;
    border-radius: 0;
    color: #647374;
    background-color: transparent;
}


.xchoice-block .answer-option {
    display: flex;
    align-items: center;
}

.xchoice-block .answer-option > div:first-of-type {
    margin-right: 5px;
}

.xchoice-block .answer-input {
    width: 100%;
}

.xchoice-block .trash-btn {
    color: #647374;
}


.xchoice-block .create-answer-btn {
    width: 20%;
    margin-top: 20px;
}

.xchoice-block .create-answer-btn:hover {
    background-color: #647374;
    transition: .3s;
}

.xchoice-block .create-answer-btn:active {
    background-color: #647374;
    transition: .3s;
}
