.home-view {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.hv-column {
    flex: 1 1 100%;
}


.home-view .first-column {
    display: block;
}


.hv-actionbar {
    margin: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}


.home-view .yt-video-container {
    margin: 40px auto;
    padding: 0 20px;
    max-width: 700px;
}



@media(min-width: 900px) {
    .hv-column {
      flex: 1 1 40%;
    }
}