
.Notification {
    position: fixed;
    top: 100%;
    left: 25%;
    right: 25%;
    bottom: 40%;
    height: 0;
    transition: all 5s;
    border-radius: 5px;
    padding: 20px;
    background-color: #F5F5F5;
    text-align: center;
    box-shadow: 60px -16px teal;
}

.Notification.show {
    top: auto;
    height: fit-content;
    transition: all 5s;
}
