
.notification-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.notification-container.show {
    display: flex;
}


.n-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 228, 0.5);
    z-index: 201;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .n-bg {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}


.notification {
    text-align: center;
    z-index: 202;
}