
.cross-survey-results-card > div:first-of-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.cross-survey-results-card > div:first-of-type > h2, .cross-survey-results-card > div:first-of-type > h3 {
    margin: 0;
}

.cross-survey-results-card > div:first-of-type > h3 {
    margin-left: auto;
}