.standard-page {
    width: 100%;
    height: fit-content;
    margin: 20px
}

.sp-title {
    margin-bottom: 20px;
}

.sp-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sp-body > .card-element {
    margin: 20px 0;
}