.xcb-header {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.xcb-header label {
    margin-top: 0;
}

.xcb-header button {
    padding: 10px;
    margin-left: auto;
    font-size: 18px;
    background-color:#82a0aa;
}

.xcb-header .button-icon {
    margin-left: 5px;
}


.xcb-element-type-selection {
    width: fit-content;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1px 1px lightgray;
    border-radius: 10px;
    background-color: white;
}

.xcb-element-type-selection.show {
    display: flex;
}

.xcb-element-type-selection button {
    width: 100%;
    padding: 0;
    transition: .3s;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.xcb-element-type-selection .item {
    padding: 10px;
}


.xchoice-block .answer-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.xchoice-block .answer-option textarea {
    flex: 1 1 100%;
}

.xchoice-block .answer-option button {
    display: flex;
    align-items: center;
    color: #82a0aa;
}

.answer-input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    color: #647374;
    font-size: 18px;
}

.trash-btn {
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

.xchoice-block .create-answer-btn {
    width: 20%;
    margin-top: 20px;
    background-color:#82a0aa;
    font-size: 20px;
}
