
.geo-card {
    height: fit-content;
}

.geo-card .geo-chart-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
}

.geo-card .geo-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media(min-width: 600px) {
    .geo-card .geo-chart-container {
        padding-bottom: 60%;
    }
}


@media(min-width: 900px) {
    .geo-card .geo-chart-container {
        padding-bottom: 45%;
    }
}