.edit-survey-component {
    display: flex;
    flex-direction: column;
}



.edit-survey-component input {
    margin: 10px 0;
}

.edit-survey-component .s-name-input {
    font-size: 1.1em;
}

.edit-survey-component > button {
    margin: 20px auto 0;
}