
.help-button {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-button svg {
    width: 30px;
    height: 30px;
}
