.dashboard-view {
  display: block;
}

.dv-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dv-item {
  padding-top: 5px;
  font-size: 18px;
}

.dv-cards .dv-card {
  flex: 1 1 100%;
  padding: 0;
}


.dv-cards .dv-card a {
  padding: 30px;
}



@media(min-width: 600px) {
  .dv-cards .dv-card {
    flex: 1 1 30%;
  }
}