.dashbard-view {
  display: block;
  width: 100%;
}


.dv-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dv-cards .dv-item {
  flex: 1 1 100%;
}


@media(min-width: 600px) {
  .dv-cards .dv-item {
    flex: 1 1 50%;
  }
}



/*
.FirstBox {
    background: white;
    font-size: 20px;
    color: black;
    text-align: center;
    display: flex;
    height: 100px;
    display: inline-block;
    font-size: 25px;
}

.SecondBox {
    background: White;
    font-size: 20px;
    color: black;
    text-align: center;
    display: flex;
    height: 100px;
    font-size: 25px;
    display: inline-block;
}

.hello {
  padding-left: 20px;
  font-size: 16pt;
}

.tp .FirstBox:hover {
  transition: .3s;
  background-color: white;
  color: #BBD9DB;
}

.tp .FirstBox:active {
  transition: .3s;
  background-color: rgb(255, 255, 255);
}

.tp .SecondBox:hover {
  transition: .3s;
  background-color: white;
  color: #BBD9DB;
}

.tp .SecondBox:active {
  transition: .3s;
  background-color: rgb(255, 255, 255);
}

.carts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carts-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/