.survey-results {
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
}

.survey-results > div {
    width: 100%;
}

.survey-results > div > .card-element {
    margin: 20px 0;
}

.survey-results .results-element {
    margin: 30px 20px;
}

.survey-results > h3 {
    margin: 50px auto;
}