.navbar {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: white;
}

.navbar .logo img {
    margin: 10px;
    height: 30px;
    object-fit: contain;
}


.navbar a {
    color: #647374;
}

.navbar .menu-toggle {
    margin-left: auto;
    display: block;
}

.navbar .menu-toggle svg {
    width: 30px;
    height: 30px;
}


.navbar .nav-menu {
    display: none;
    margin: auto 0 10px;
}

.navbar .nav-menu.show-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.navbar .nb-separator {
    margin: 0 5px;
    display: none;
}

.navbar .link-button {
    width: auto;
}



@media(min-width: 300px) {
    .navbar .logo img {
        height: 40px;
    }
}



@media(min-width: 600px) {
    .navbar .logo img {
        height: 50px;
    }
}



@media(min-width: 750px) {
    .navbar .logo img {
        height: 60px;
    }

    .navbar .menu-toggle {
        display: none;
    }

    .navbar .nav-menu {
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar .nav-menu.show-menu {
        width: fit-content;
        flex-direction: row;
    }

    .navbar .nb-separator {
        display: inline;
    }
}


/* Dark mode */
@media(prefers-color-scheme: dark) {
    .navbar {
        background-color: #252d2e;
    }

    .navbar a {
        color: inherit;
    }
}