.sidebar {
    height: 100%; 
    padding-top: 5px;
    background-color: #144D6A;
    flex-direction: column;
    display: flex;
    float: left;
    width: 240px;
}

.sidebar .item {
    justify-content: flex-start;
}

.sidebar .activatable {
      padding: 5%;
      margin: 5%;
}

.sidebar a {
    color: white; 
    text-decoration: none;
    font-size: 18px;
}

.sidebar .activatable:hover {
    background-color: rgb(255, 255, 255);
}

.sidebar a:hover{
    color: black;
    font-size: 18px;
}

.sidebar .activatable:active {
    background-color: rgb(255, 255, 255);
}

.sidebar a:active{
    color: black;
    font-size: 18px;
}