.sidebar {
    height: 100%; 
    padding-top: 5px;
    background-color: #EFF0F0;
    flex-direction: column;
    float: left; 
    display: flex;
    width: 240px;
}

.sidebar .activatable {
      padding: 5%;
      margin: 5%;
}

.sidebar a {
    color: black; 
    text-decoration: none;
    font-size: 18px;
}


.sidebar .activatable:hover {
    background-color: rgb(255, 255, 255);
}

.sidebar .activatable:active {
    background-color: rgb(255, 255, 255);
}