.home-view {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}


.home-view > div {
    flex: 1 1 100%;
}

@media(min-width: 900px) {
    .home-view > div {
      flex: 1 1 50%;
    }
}


.pageelement {
    text-align: left;
}


.left {
    flex: 1 1 100%;
    text-align: center;
    padding-bottom: 35px;
}

@media(min-width: 900px) {
    .left {
      flex: 1 1 50%;
    }
}


.home-view > .left > p {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2;
    text-align: left;
}

.home-view > .left .btn-dark {
    margin: 0 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
}

.home-view > .left > div:last-of-type {
    height: fit-content;
    margin: 45px 0;
}
