.home-view {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.hv-column {
    flex: 1 1 100%;
}


.hv-actionbar {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}



@media(min-width: 900px) {
    .hv-column {
      flex: 1 1 40%;
    }
}