.home {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.pageelement {
    text-align: left;
}

.left{
    float: left;
    flex: 1 1 100%;
    text-align: center;
    padding-bottom: 35px;
}

.right{
    float: right;
    flex: 1 1 100%;
    padding-top: 100px;
    padding-bottom: 15px;
    background-color: #EFF0F0;
}

@media(min-width: 900px) {
    .left {
      flex: 1 1 50%;
    }
}

@media(min-width: 900px) {
    .right {
      flex: 1 1 50%;
    }
}

.home > .left > p {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2;
    text-align: left;
}

.home > .left .btn-dark {
    margin: 0 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
}

.home > .left > div:last-of-type {
    height: fit-content;
    margin: 45px 0;
}

.home .cardelement {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    max-width: 100%;
}

.home .cardelement .ce-separator {
    border-left: 1px solid black;
    width: 0;
    margin: 0 10px;
}

.home .cardelement span {
    text-align: left;
    margin-top: auto;
    width: 33%;
}

.home .cardelement img {
    width: 66%;
    object-fit: contain;
}