.line-chart .toolbar {
    float: right;
}

.line-chart .btn-group {
    margin: 10px auto 0;
    width: fit-content;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

.line-chart .btn-group > button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid white;
}

.line-chart .btn-group > button:last-of-type {
    border-right: none;
}

.line-chart .btn-group > button.selected {
    transition: .3s;
    background-color: #a1c1c2;
}