
.navbar {
    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
    background-color: white;
}


.navbar .logo img {
    margin: 10px;
    height: 30px;
    object-fit: contain;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar h1 {
    margin-bottom: 0;
}


.navbar .menu-toggle {
    margin-left: auto;
    display: block;
}

.navbar .menu-toggle .icon {
    width: 30px;
    height: 30px;
}

.navbar .menu-toggle button {
    background-color: transparent;
    border: none;
}


.navbar .nav-menu {
    display: none;
    margin: auto 0 10px;
}

.navbar .nav-menu.show-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.navbar .nav-menu .item {
    padding: 10px;
}

.navbar .item.activatable:hover {
    background-color: rgba(219, 219, 219, 0.5);
}

.navbar .item.activatable:active {
    background-color: rgba(235, 235, 235, 0.5);
}

.nav-menu > .focus-btn {
    margin-left: 10px;
    background-color: #BBD9DB;
}

.nav-menu > .login-btn {
    margin-left: 10px;
}

.navbar .nb-separator {
    margin: 0 5px;
    display: none;
}



@media(min-width: 300px) {
    .navbar .logo img {
        height: 40px;
    }
}


@media(min-width: 600px) {
    .navbar .logo img {
        height: 50px;
    }
}


@media(min-width: 750px) {
    .navbar .logo img {
        height: 60px;
    }

    .navbar .menu-toggle {
        display: none;
    }

    .navbar .nav-menu {
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar .nav-menu.show-menu {
        width: fit-content;
        flex-direction: row;
    }

    .navbar .nb-separator {
        display: inline;
    }
}
