
.navbar {
    padding: 20px;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
    background-color: white;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar h1 {
    margin-bottom: 0;
}


.navbar .menu-toggle {
    margin-left: auto;
    display: block;
}

.navbar .menu-toggle .icon {
    width: 30px;
    height: 30px;
}

.navbar .menu-toggle button {
    background-color: transparent;
    border: none;
}


.navbar .nav-menu {
    display: none;
    padding-top: 10px;
}

.navbar .nav-menu.show-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.navbar .nav-menu .item {
    padding: 10px;
}

.navbar .item.activatable:hover {
    background-color: rgba(219, 219, 219, 0.5);
}

.navbar .item.activatable:active {
    background-color: rgba(235, 235, 235, 0.5);
}


@media(min-width: 600px) {
    .navbar .menu-toggle {
        display: none;
    }

    .navbar .nav-menu {
        
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;
        
    }

    .navbar .nav-menu.show-menu {
        width: fit-content;
        flex-direction: row;
    }
}