.geo-chart-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
}

.geo-chart-container > .geo-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



@media(min-width: 900px) {
    .geo-chart-container.large {
        padding-bottom: 45%;
    }
}