.survey-overview {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}

.survey-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.survey-list .so-card {
    width: 100%;
    cursor: pointer;
    background-color: #C4C4C4;
    font-size: 24px;
    color: white;
}
