
.create-survey-view {
    width: 100%;
    height: max-content;
}


.create-survey-view .csv-toolbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.create-survey-view .csv-toolbar .error-message {
    margin: 10px 0 0;
    flex: 1 100%;
    text-align: center;
    color: red;
}

.create-survey-view .csv-toolbar .button {
    font-size: medium;
    margin: 20px;
}

.create-survey-view .csv-toolbar .back-btn {
    padding-right: 20px;
}

.create-survey-view .csv-toolbar .next-btn {
    padding-left: 20px;
}