
.help-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    background-color: #BBD9DB;
}

.help-button:hover {
    background-color: #afcacc;
}

.help-button:active {
    background-color: #BBD9DB;
}

.help-button .hb-icon {
    width: 30px;
    height: 30px;
}
