.dashboard-view {
  display: block;
}

.dv-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dv-cards .dv-card {
  margin: 20px 0;
  flex: 1 1 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dv-cards .dv-card:first-of-type {
  margin: 0 0 20px;
  max-width: calc(100% - 40px);
  padding: 20px;
  display: block;
}

.dv-cards .dv-card a {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media(min-width: 600px) {
  .dv-cards .dv-card {
    margin: 20px;
    flex: 1 1 40%;
  }

  .dv-cards .dv-card:first-of-type {
    margin: 0 20px 20px;
    flex: 1 1 100%;
  }

  .dv-cards .dv-card a {
    padding: 30px;
  }
}