.dashboard-view {
  display: block;
}

.dashboard-view > p {
  margin: 40px 0 0;
}

.dv-cards {
  margin: 0 -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dv-cards .dv-card {
  margin: 10px 20px;
  flex: 1 1 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media(min-width: 600px) {
  .dv-cards .dv-card {
    margin: 20px;
    flex: 1 1 40%;
    padding: 30px 0;
  }
}