.create-survey-view .card-element {
    padding: 10px;
}


/* Toolbar */
.csv-toolbar {
    margin: 50px 0 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.csv-toolbar button {
    margin: 0 20px;
}

.csv-toolbar p {
    margin: 0;
}



@media(min-width: 600px) {
    .create-survey-view .card-element {
        padding: 20px;
    }
}