body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus, textarea:focus, select:focus, button {
  outline: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea, button, div {
  color: #647374;
}

p {
  line-height: 2;
}


.App {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: #F5F5F5;
}


.Admin-App {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

@media(min-width: 600px) {
  .App {
    font-size: 15px;
  }
}

@media(min-width: 900px) {
  .Admin-App {
    flex-direction: row;
  }
  .App {
    font-size: 20px;
  }
}

@media(min-width: 1200px) {
  .App {
    font-size: 25px;
  }
}

@media(min-width: 1800px) {
  .App {
    font-size: 30px;
  }
}

.Page-Container {
  width: 100%;
  flex: 1 1 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}






/* Button */
button {
  width: fit-content;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/*link-button*/
.link-button {
  width: fit-content;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* btn-icon-left */
.btn-icon-left {
  padding-right: 15px;
}


/* btn-icon-right */
.btn-icon-right {
  padding-left: 15px;
}


/* btn-dark */
.btn-dark {
  transition: .3s;
  color: white;
  background-color: #82a0aa;
  text-align: center;
}

.btn-dark:hover {
  transition: .3s;
  background-color: #647374;
}


.btn-dark:disabled {
  transition: .3s;
  color: rgb(226, 226, 226);
  background-color: #647374;
}


/* btn-light */
.btn-light {
  transition: .3s;
  color: white;
  background-color: #BBD9DB;
}

.btn-light:hover {
  transition: .3s;
  background-color: #a1c1c2;
}

.btn-light:disabled {
  transition: .3s;
  color: rgb(226, 226, 226);
  background-color: #aebfc0;
}





/* links */
a {
  text-align: center;
  text-decoration: none;
}


/* link-light */
.link-light {
  transition: .3s;
  cursor: pointer;
  border-radius: 5px;
}

.link-light:hover {
  transition: .3s;
  transform: scale(.95);
  color: #BBD9DB;
  background-color: white;
}


/* link-dark */
.link-dark {
  transition: .3s;
  cursor: pointer;
  border-radius: 5px;
}

.link-dark:hover {
  transition: .3s;
  transform: scale(.95);
  background-color: rgba(219, 219, 219, 0.5);
}

.link-dark:active {
  transition: .3s;
  background-color: rgba(235, 235, 235, 0.5);
}





/* Element Styles */
/* Primary Element */
.primary-element {
  background-color: white;
}


/* Secondary Element */
.secondary-element {
  background-color: #BBD9DB;
}





/* label */
label {
  font-size: 0.8em;
  font-weight: bold;
}





/* input */
input {
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: white;
}



/* small */
small {
  font-size: 0.7em;
}