
body {
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: auto;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus, textarea:focus, select:focus, button {
  outline: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  position: fixed;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #f5f5f5;
}

.Content {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.Page-Container {
  flex-grow: 1;
}


/* Item */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  border-radius: 5px;
}

.item:hover {
  transform: scale(0.95);
  transition: .3s;
}


/* Button */
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 30px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.btn-dark {
  color: white;
  background-color: #c4c4c4;
}

.btn-dark:hover {
  transition: .3s;
  background-color: #bbb;
}

.btn-dark:active {
  transition: .3s;
  background-color: #cfcfcf;
}

.btn-light {
  color: black;
  background-color: transparent;
}

.btn-light:hover {
  transition: .3s;
  background-color: #e3e3e3;
}

.btn-light:active {
  transition: .3s;
  background-color: #e9e9e9;
}


/* input */
.input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  color: white;
  background-color: #c4c4c4;
}


/* small */
.small {
  color: #777;
}