.imprint-view {
    width: 100%;
}

.imprint-text {
    padding-left: 20px;
    color: #647374;
    font-size: 14px;
    padding-bottom: 30px;
}

.imprint-text a {
    text-decoration: none;
    font-weight: bold;
    color: #647374;
}

.imprint-text h2{
    font-size: larger;
} 