.dashboard-view {
  display: block;
}

.dv-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dv-cards .dv-card {
  flex: 1 1 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dv-cards .dv-card:first-of-type {
  margin-top: 0;
  max-width: 100%;
  padding: 20px;
  display: block;
}

.dv-cards .dv-card a {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media(min-width: 600px) {
  .dv-cards .dv-card {
    flex: 1 1 40%;
  }

  .dv-cards .dv-card:first-of-type {
    flex: 1 1 100%;
  }
}