.page-title-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.page-title-element .pte-title h1 {
    margin: 0 0 2px 0;
    font-weight: normal;
}

.page-title-element .pte-title div {
    width: 60px;
    height: 0;
    border: 1px solid #647374;
    border-radius: 5px;
}

.page-title-element > div:nth-of-type(2) {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}