.contact-view {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}



.cv-left {
  flex: 1 1 100%;
  text-align: start;
}


.cv-left p {
  text-align: left;
}



.cv-right {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EFF0F0;
}



.cv-right .cv-card {
  margin: 40px;
  width: 100%;
  height: calc(80% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.cv-right .cv-card .link {
  margin: 15px 0;
  width: fit-content;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.cv-right .cv-card .link:hover {
  transition: .3s;
  color: white;
}



.cv-right .cv-card .link svg {
  font-size: 3em;
}


@media(min-width: 600px) and (max-width: 899px) {
  .cv-right .cv-card {
    flex-direction: row;
    justify-content: space-around;
  }
}


@media(min-width: 900px) {
  .cv-column {
    flex: 1 1 40%;
  }
}