.list-view {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}


.list-view .so-csrc {
   
}


.item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lv-search-bar-container {
    position: sticky;
    /* Setting the top to 0px leads to a small gap between the searchbar and the top */
    top: -1px;
    z-index: 1;
    padding: 10px 21px;
    background-color: #F5F5F5;
}

.lv-search-bar-container .lv-search-bar {
    margin: 0;
    padding: 10px 20px;
    transition: .3s;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: none;
}

.lv-search-bar input {
    width: 100%;
    border: none;
    background-color: transparent;    
}

.item-list .lv-card {
    width: calc(100% - 80px);
    margin: 10px 20px;
    padding: 20px;
}
