.Change-pw a{
    font-size: 30px;
    display: block;
}

.changepwHeader {
    margin-bottom: 15px;
}

.message {
    font-size: 18px;
}

.messagebutton {
    color: white;
}

.messagebutton:hover {
    color: #BBD9DB;
    transition: .3s;
}
  
.messagebutton:active {
    transition: .3s;
}

.celement {
    background-color: white;
    height: 100%;
    flex: 1 1 100%;
}

.changepw-body{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.un {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
}

.pass {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
}

.changepw button{
    margin-top: 10px;
    justify-content: center;
    padding-right: 30px;
    font-size: 18px;
}

.toolbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.changepw .labelUN{
    display: block;
    position: relative;
    left: 5%;
    padding-top: 20px;
    text-align: left;
    color: black;
}

.changepw .labelPass{
    display: block;
    position: relative;
    left: 5%;
    text-align: left;
}
.changepw .labelPassRe{
    display: block;
    position: relative;
    left: 5%;
    text-align: left;
}
.toolbar .btn-dark{
    padding-left: 40px;
}

.changepw{
    width: 100%;
}

.delement{
    background-color: white;
    height: 100%;
    flex: 1 1 100%;
}

.delete a{
    color: black;
    font-size: 30px;
    display: block;
    }

.del div {
    margin-left: 20px;
    margin-right: 20px;
}

/*
.cardel{
    flex: 1 1 100%;
}

@media(min-width: 1200px) {
    .cardel{
        flex: 1 1 50%;
    }
}
*/

@media(min-width: 900px) {
    .celement {
        flex: 1 1 40%;
    }

    .delement {
        flex: 1 1 40%;
    }
}

