.av-card {
    flex: 1 1 100%;
}



.av-body {
    margin: 0 -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.av-body form {
    display: flex;
    flex-direction: column;
}

.av-body form label {
    margin: 5px 0;
}

.av-body form label:first-of-type {
    margin-top: 15px;
}

.av-body form input {
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-align: center;
}


.account-view .btn-delete {
    color: #ff0059;
}

.account-view .toolbar {
    display: flex;
    justify-content: center;
}



@media(min-width: 1200px) {
    .av-card {
        flex: 1 1 30%;
    }

    .av-body > .av-card {
        margin-right: 20px;
    }
}