.changepwHeader {
    margin-bottom: 15px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    color: #82a0aa;   
}

.messagebutton-cancel {
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.messagebutton-cancel:hover {
    color: #BBD9DB;
    transition: .3s;
}
.messagebutton-cancel:active {
    transition: .3s;
}

.messagebutton-delete {
    color: #F50057;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    text-align: left;
}

.messagebutton-delete:hover {
    color: #BBD9DB;
    transition: .3s;
}
  
.messagebutton-delete:active {
    transition: .3s;
}

.changepw-body .celement {
    background-color: #bbd9db;
    height: 100%;
    flex: 1 1 100%;
}

.changepw-body {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.un {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
}

.pass {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
    background-color:white;
}

.changepw button {
    margin-top: 10px;
    justify-content: center;
    padding-right: 30px;
    font-size: 18px;
    background-color: #82a0aa;
}

.changepw button:hover {
    background-color: #F5F5F5;
    color: #82a0aa;
}

.toolbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.changepw .labelUN {
    display: block;
    position: relative;
    left: 5%;
    padding-top: 20px;
    text-align: left;
    color: #647374;
    font-size:18px;
}

.changepw .labelPass{
    display: block;
    position: relative;
    left: 5%;
    text-align: left;
    color: #647374;
    font-size:18px;
}

.changepw .labelPassRe{
    display: block;
    position: relative;
    left: 5%;
    text-align: left;
    color: #647374;
    font-size:18px;
}

.toolbar .btn-dark{
    padding-left: 40px;
}

.changepw{
    width: 100%;
}

.delement{
    background-color: #bbd9db;
    height: 100%;
    flex: 1 1 100%;
}

.delete a{
    color: #647374;
    font-size: 30px;
    display: block;
    }

.del div {
    margin-left: 20px;
    margin-right: 20px;
    color:#647374;
    font-size: 20px;
}


@media(min-width: 900px) {
    .celement {
        flex: 1 1 40%;
    }

    .delement {
        flex: 1 1 40%;
    }
}


