.Sign-up a{
    font-size: 30px;
    display: block;
    color: #647374;
}

.Sign-up {
    display: block;
}

.signupHeader {
    margin-bottom: 15px;
    display: block;
}

.celement {
    max-width: 600px;
}

.signup-body{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.email {
    background-color: white;
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
    }

.pass {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
}

.signup button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    padding-right: 30px;
    font-size: 18px;
    color: white; 
    background-color: #647374;
}

.toolbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.labelUN{
    display: block;
    position: relative;
    left: 5%;
    padding-top: 20px;
    text-align: left;
    color: #647374;
}

.toolbar .btn-dark{
    padding-left: 40px;
}

.signup{
    width: 100%;
}